#modal__background {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #00000075;
  z-index: 10;
}

#editor__modal {
  display: block;
  position: absolute;
  width: 880px;
  top: 63px;
  bottom: 31px;
}

#editor__toolbar {
  padding: 16px 10px 12px;
}

#editor__actions {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 8px;
  padding: 16px 20px;
}

#editor__toolbar button {
  opacity: 0.48;
}

#editor__toolbar > button {
  padding: 0 8px;
}

#editor__toolbar button:hover,
#editor__toolbar button.active,
input-select:hover svg-icon {
  opacity: 0.88;
}

#editor__toolbar use {
  fill: var(--sidebar-text-primary);
}

#editor__content {
  padding: 0 20px;
  outline: none;
  height: 200px;
}

input-select {
  position: relative;
  padding-left: 8px;
}

input-select svg-icon {
  opacity: 0.48;
}

.option {
  cursor: pointer;
}

.option:hover {
  background: var(--transparent-hover);
}

.popover {
  position: absolute;
  width: max-content;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  background: var(--background-modal);
  box-shadow: 0px 4px 32px var(--shadow);
  border-radius: 12px;
  z-index: 1;
}

input-select .option {
  padding: 10px 24px 10px 16px;
}

input-contacts {
  display: flex;
}

input-contacts .popover {
  max-height: 400px;
  overflow: auto;
  top: 30px;
  gap: 8px;
  padding-left: 4px;
}

input-contacts .option {
  display: flex;
}

input-contacts .option user-avatar {
  padding: 0 10px;
}

#editor__modal input[type="text"] {
  all: unset;
}

#editor__modal input[id="title"] {
  width: 500px;
}

#editor__file {
  opacity: 0;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#editor__file-label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 66px;
  margin-top: 6px;
  padding: 4px 8px;
  width: max-content;
}

#editor__file-label:hover {
  border-radius: 8px;
  background: var(--transparent-hover);
}

#editor__file-label span {
  margin-left: 6px;
}

#editor__files {
  display: flex;
  gap: 10px;
  padding: 6px 6px 6px 16px;
}

#editor__filesize {
  padding-left: 16px;
  font-size: 13px;
  color: var(--text-secondary);
}

.editor__file {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid var(--border);
}

.editor__file button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: var(--white);
  border: 1px solid var(--border);
}

.editor__file img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editor__row {
  min-height: 48px;
  border-bottom: 1px solid var(--border);
}

#editor__fields .editor__row {
  display: flex;
  align-items: center;
}

#editor__fields label {
  font-size: 13px;
  color: var(--text-secondary);
  margin-right: 13px;
}

#editor__fields {
  margin-left: 77px;
}

.editor__avatar {
  position: absolute;
  top: 20px;
  left: 16px;
  user-select: none;
}

.editor__avatar .avatar {
  width: 48px;
  height: 48px;
  font-size: 19px;
}

.contacts__label {
  font-size: 13px;
  color: var(--shadow);
}

.chips {
  display: flex;
}

.contact {
  display: flex;
  height: 24px;
  width: max-content;
  border-radius: 12px;
  background: var(--transparent-active);
  align-items: center;
  padding: 2px;
  margin-right: 8px;
  user-select: none;
}

.contact button {
  display: flex;
}

.contact use {
  fill: var(--icon-secondary);
}

.contact .avatar {
  width: 20px;
  height: 20px;
}

.contact span {
  margin: 0 6px;
}

.contact__email {
  font-size: 13px;
  color: var(--icon-secondary);
}

.contacts__wrapper {
  position: relative;
}

#editor__close {
  position: absolute;
  top: 14px;
  right: 24px;
}
