#btn-filter {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
  top: 20px;
  color: var(--header-text);
}

#btn-filter > [name="chevron_down"] {
  margin-left: 4px;
}

#filter__icons {
  display: flex;
  align-items: center;
}

#filter__icons .unread-dot {
  order: 1;
  margin: 0 7px;
}

#filter__current {
  margin-left: 4px;
}

#filter__popup {
  right: 12px;
  top: 50px;
  width: 240px;
}

#filter__popup label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

#filter__popup label:hover {
  background: var(--transparent-hover);
}

#filter__popup input {
  all: unset;
  cursor: pointer;
}

#filter__popup input + svg-icon {
  visibility: hidden;
  margin: 0 4px;
}

#filter__popup input:checked + svg-icon {
  visibility: visible;
}

#filter__popup .unread-dot {
  margin: 0 15px 0 7px;
}

#filter__popup svg-icon {
  margin-right: 8px;
}

#btn-reset-filter {
  width: 100%;
  border-top: 1px solid var(--separator);
  padding: 18px 0 18px 24px;
  box-sizing: border-box;
  display: none;
}

.not-found {
  color: var(--text-primary);
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.not-found div {
  width: 310px;
  height: 180px;
  background-image: -webkit-image-set(url(/images/notfound.png) 1x, url(/images/notfound2x.png) 2x);
  margin-bottom: 20px;
}

.not-found span {
  font-weight: 700;
}

.not-found svg-icon {
  display: none;
}

.not-found use {
  fill: var(--text-primary);
}
