#btn-filter {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--text-primary);
}

#filter__popup {
  right: 12px;
  top: 50px;
  width: 240px;
}

#filter__popup label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

#filter__popup label:hover {
  background: var(--transparent-hover);
}

#filter__popup input {
  all: unset;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

#filter__popup input:checked:after {
  content: url(/icons/done.svg);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#filter__popup .unread-dot {
  margin: 0 15px 0 7px;
}

#filter__popup svg-icon {
  margin-right: 8px;
}

#btn-reset-filter {
  width: 100%;
  border-top: 1px solid var(--separator);
  padding: 18px 0 18px 24px;
  box-sizing: border-box;
  display: none;
}
