:root {
  --background: #f6f7f8;
  --transparent-hover: rgba(0, 16, 61, 0.04);
  --transparent-active: rgba(0, 16, 61, 0.08);
  --text-secondary: #87898f;
  --white: #fff;
  --icon-accent: #005ff9;
  --icon-secondary: #a5a7ad;
  --text-primary: #2c2d2e;
  --text-sidebar: #333333;
  --text-link: #005bd1;
  --separator: rgba(0, 16, 61, 0.12);
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.footnote {
  font-size: 13px;
  color: var(--text-secondary);
}

hr {
  border-style: none;
  border-top: 1px solid var(--separator);
}

object {
  pointer-events: none;
}

button,
a {
  all: unset;
  cursor: pointer;
}

use {
  fill: var(--text-sidebar);
}

svg path {
  fill: inherit;
}

.nav-btn:hover {
  background: var(--transparent-hover);
}

.nav-btn.active {
  background: var(--transparent-active);
}

#btn-compose,
#btn-new-folder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

#btn-compose {
  justify-content: center;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid var(--separator);
  border-radius: 8px;
  background: var(--white);
}

#btn-new-folder {
  opacity: 0.48;
}

#btn-new-folder svg {
  margin: 0 12px;
}

header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 12px;
  filter: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12));
}

header,
#app {
  background: var(--white);
}

.columns {
  display: flex;
  gap: 16px;
  padding: 0 12px 0 16px;
}

nav {
  color: var(--text-sidebar);
}

letter-list {
  display: block;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}

#app {
  flex-grow: 1;
  z-index: 1;
  border-radius: 12px;
}

letter-item > a {
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  height: 48px;
  border-radius: 12px;
}

[data-link] > * {
  pointer-events: none;
}

.unread-icon {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--icon-accent);
}

.letter-item .unread-icon {
  position: absolute;
  left: 11px;
}

.unread-icon-gray {
  background: var(--icon-secondary);
}

.unread .letter-item__sender,
.unread .letter-item__title {
  font-weight: 700;
}

.letter-item__sender {
  width: 200px;
}

.letter-item__icons {
  width: 41px;
}

.letter-item__text {
  margin-left: 8px;
}

.letter-item__date {
  padding: 0 12px 0 16px;
}

.letter-item__content {
  flex-grow: 1;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

letter-item .avatar__wrapper {
  margin: 0 10px 0 28px;
}

.avatar__wrapper {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: var(--text-secondary);
}

@media only screen and (min-width: 769px) {
  nav {
    min-width: 200px;
  }

  .folder {
    width: unset;
    justify-content: unset;
    padding-left: 14px;
  }

  .folder svg {
    margin-right: 10px;
  }
}
