:root {
  --background: #f6f7f8;
  --background-modal: #fff;
  --background-header: #fff;
  --transparent-hover: rgba(0, 16, 61, 0.04);
  --transparent-active: rgba(0, 16, 61, 0.08);
  --separator: rgba(0, 16, 61, 0.12);
  --shadow: rgba(0, 16, 61, 0.16);
  --shadow24: rgba(0, 16, 61, 0.24);
  --text-secondary: #87898f;
  --white: #fff;
  --icon-accent: #005ff9;
  --icon-secondary: #a5a7ad;
  --icon-primary: #2c2d2e;
  --text-primary: #2c2d2e;
  --sidebar-text-primary: #333333;
  --sidebar-text-active: #333333;
  --text-link: #005bd1;
  --compose: #333333;
  --border: rgba(0, 16, 61, 0.12);
  --logo: #005ff9;
  --header-text: #2c2d2e;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.footnote {
  font-size: 13px;
  color: var(--text-secondary);
}

hr {
  border-style: none;
  border-top: 1px solid var(--separator);
}

object {
  pointer-events: none;
}

button,
a {
  all: unset;
  cursor: pointer;
}

.btn-action {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 36px;
  color: var(--text-primary);
  background: rgba(0, 16, 61, 0.06);
  border-radius: 8px;
}

.btn-action:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 16, 61, 0.06);
  border-radius: 8px;
}

.btn-primary {
  background: var(--icon-accent);
  color: var(--white);
}

svg-icon {
  display: inline-flex;
}

.attachment__text a {
  color: var(--text-link);
}

.popup {
  display: none;
  position: absolute;
  padding: 8px 0;
  background: var(--background-modal);
  box-shadow: 0px 4px 32px var(--shadow);
  border-radius: 12px;
  z-index: 1;
}

.btn-attach {
  position: relative;
  height: 24px;
  border-radius: 8px;
}

.btn-attach:hover,
.active .btn-attach {
  background: var(--transparent-active);
}

#attach__popup {
  width: 298px;
  right: 28px;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  padding: 8px 0;
  box-shadow: 0px 4px 32px var(--shadow24);
}

.attachment {
  padding-left: 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.attachment img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 4px;
  object-fit: cover;
}

.attachment:hover {
  background: var(--transparent-hover);
}

#attach__preview {
  position: absolute;
  top: 0;
  left: -268px;
  padding: 4px;
  box-shadow: inherit;
}

#attach__preview img {
  display: block;
  width: 256px;
  height: 190px;
  border-radius: 12px;
  object-fit: cover;
}

svg path {
  fill: inherit;
}

use {
  fill: var(--icon-primary);
}

#nav use {
  fill: var(--sidebar-text-primary);
}

.nav-btn:hover,
letter-item > a:hover {
  background: var(--transparent-hover);
}

.nav-btn.active,
letter-item.active > a {
  background: var(--transparent-active);
}

.nav-btn.active {
  font-weight: 700;
}

.btn-compose,
#btn-new-folder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

.btn-compose {
  justify-content: center;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid var(--separator);
  border-radius: 8px;
  background: var(--white);
  color: var(--compose);
}

.btn-compose svg-icon {
  display: none;
}

.btn-compose use {
  fill: var(--compose);
}

#btn-new-folder {
  opacity: 0.48;
}

#btn-new-folder svg {
  margin: 0 12px;
}

header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 12px;
  filter: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12));
}

#mobile-menu,
#logo img {
  display: none;
}

#btn-back {
  display: none;
  align-items: center;
  color: var(--header-text);
}

#btn-back svg-icon {
  margin: 0 12px;
}

svg-icon[name="logo"] use {
  fill: var(--logo);
}

header,
letter-list,
single-letter {
  background: var(--background-header);
}

.columns {
  height: calc(100vh - 68px);
  display: flex;
  gap: 16px;
  padding: 0 12px 0 16px;
}

nav {
  min-width: 200px;
  color: var(--sidebar-text-primary);
}

nav .active {
  color: var(--sidebar-text-active);
}

.folder {
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 36px;
  padding-left: 14px;
}

.folder svg {
  margin-right: 10px;
}

#app {
  flex-grow: 1;
  z-index: 1;
  position: relative;
}

letter-list {
  display: block;
  border-radius: 12px;
  overflow-y: scroll;
}

letter-item > a {
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  height: 48px;
  border-radius: 12px;
  padding-left: 28px;
}

letter-list letter-item:first-child > a::after,
letter-item:hover > a:after,
letter-item:hover + letter-item > a::after,
letter-item.active > a:after,
letter-item.active + letter-item > a::after {
  display: none;
}

letter-item > a::after {
  position: absolute;
  content: "";
  height: 1px;
  top: 0;
  left: 71px;
  right: 12px;
  background: var(--separator);
}

[data-link] > *:not(button):not(input) {
  pointer-events: none;
}

.unread-dot__wrapper {
  display: none;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}

.unread-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--icon-accent);
}

.unread .unread-dot__wrapper {
  display: flex;
}

letter-item > a:not(.unread) .unread-dot {
  background: var(--icon-secondary);
}

letter-item .unread-dot__wrapper {
  position: absolute;
  left: 6px;
}

letter-item > a:hover .unread-dot__wrapper {
  display: flex;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

letter-item input[type="checkbox"] {
  all: unset;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--border);
  display: none;
  position: relative;
}

letter-item input[type="checkbox"]:checked {
  background: var(--icon-accent);
}

letter-item input[type="checkbox"]:checked::after {
  content: url(/icons/check.svg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0px;
}

letter-item [name="bookmark_outline"] {
  display: none;
}

letter-item > a:hover input {
  display: block;
}
letter-item > a:hover [name="bookmark_outline"] {
  display: inline;
}

letter-item > a:hover user-avatar {
  display: none;
}

letter-item > a:hover [name="exclamation"] {
  display: none;
}

.unread .letter-item__sender,
.unread .letter-item__title {
  font-weight: 700;
}

.letter-item__sender {
  margin-left: 10px;
  width: 200px;
}

.letter-item__icons {
  width: 41px;
}

.letter-item__text {
  margin-left: 8px;
}

.letter-item__date {
  padding: 0 12px 0 16px;
}

.letter-item__content {
  flex-grow: 1;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #874dd6;
  background: #d3b3ff;
  border-radius: 100%;
}

single-letter {
  display: block;
  position: relative;
  padding: 16px 32px 32px;
  border-radius: 12px;
}

.letter__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

single-letter .unread-dot {
  position: absolute;
  left: -19px;
}

.letter__header user-avatar {
  margin-right: 12px;
}

.letter__header .letter__date {
  margin-left: 8px;
}

.letter__recipients {
  margin-top: 3px;
}

.letter__recipients a {
  text-decoration: underline;
}

.letter__category {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 24px;
  top: 22px;
  font-size: 13px;
}

.letter__attachment {
  position: relative;
  display: block;
  width: 256px;
  height: 190px;
  cursor: pointer;
}

.letter__attachment img {
  display: block;
  width: 256px;
  height: 190px;
  border-radius: 12px;
  object-fit: cover;
}

.letter__download {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: linear-gradient(
    0deg,
    rgba(236, 237, 240, 0.95) 56.81%,
    rgba(236, 237, 240, 0) 104.46%
  );
  border-radius: 0 0 12px 12px;
}

.letter__download svg-icon {
  margin-right: 8px;
}

.letter__attachment:hover .letter__download {
  display: flex;
}

.attachment__text {
  margin: 8px 0 28px;
  font-size: 13px;
}

.attachment__text a {
  margin-left: 16px;
  color: var(--text-link);
}

.attachment__size {
  color: var(--text-secondary);
}

@media only screen and (max-width: 768px) {
  nav {
    min-width: unset;
  }

  .folder {
    width: 36px;
    padding: 0;
    justify-content: center;
  }

  .folder svg {
    margin: 0;
  }

  #logo svg-icon,
  .folder span,
  #btn-compose span,
  #btn-settings span,
  #btn-back span,
  #btn-new-folder,
  hr {
    display: none;
  }

  header img {
    display: inline;
  }

  #mobile-menu,
  #btn-compose svg-icon {
    display: flex;
  }
}

html {
  visibility: visible;
  opacity: 1;
}
