:root {
  --background: #f6f7f8;
  --transparent-hover: rgba(0, 16, 61, 0.04);
  --transparent-active: rgba(0, 16, 61, 0.08);
  --separator: rgba(0, 16, 61, 0.12);
  --shadow: rgba(0, 16, 61, 0.24);
  --text-secondary: #87898f;
  --white: #fff;
  --icon-accent: #005ff9;
  --icon-secondary: #a5a7ad;
  --text-primary: #2c2d2e;
  --text-sidebar: #333333;
  --text-link: #005bd1;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

.footnote {
  font-size: 13px;
  color: var(--text-secondary);
}

hr {
  border-style: none;
  border-top: 1px solid var(--separator);
}

object {
  pointer-events: none;
}

button,
a {
  all: unset;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  padding: 8px 0;
  background: var(--white);
  box-shadow: 0px 4px 32px var(--separator);
  border-radius: 12px;
  z-index: 1;
}

.btn-attach {
  position: relative;
  height: 24px;
  border-radius: 8px;
}

.btn-attach:hover,
.btn-attach.active {
  background: var(--transparent-active);
}

#attach__popup {
  width: 298px;
  right: 28px;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  padding: 8px 0;
  box-shadow: 0px 4px 32px var(--shadow);
}

.attachment {
  padding-left: 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.attachment img {
  margin-right: 8px;
}

.attachment:hover {
  background: var(--transparent-hover);
}

.attachment:hover + #attach__preview {
  display: block;
}

#attach__preview {
  position: absolute;
  top: 0;
  left: -268px;
  padding: 4px;
  box-shadow: inherit;
}

#attach__preview img {
  display: block;
}

svg path {
  fill: inherit;
}

use {
  fill: var(--text-sidebar);
}

.nav-btn:hover {
  background: var(--transparent-hover);
}

.nav-btn.active {
  background: var(--transparent-active);
  font-weight: 700;
}

#btn-compose,
#btn-new-folder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

#btn-compose {
  justify-content: center;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid var(--separator);
  border-radius: 8px;
  background: var(--white);
}

#btn-new-folder {
  opacity: 0.48;
}

#btn-new-folder svg {
  margin: 0 12px;
}

header {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 56px;
  padding: 0 16px;
  margin-bottom: 12px;
  filter: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12));
}

header use {
  fill: var(--icon-accent);
}

header,
#app {
  background: var(--white);
}

.columns {
  display: flex;
  gap: 16px;
  padding: 0 12px 0 16px;
}

nav {
  color: var(--text-sidebar);
}

letter-list {
  display: block;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}

#app {
  flex-grow: 1;
  z-index: 1;
  border-radius: 12px;
}

letter-item > a {
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  height: 48px;
  border-radius: 12px;
  padding-left: 28px;
}

[data-link] > *:not(button):not(input) {
  pointer-events: none;
}

.unread-dot {
  display: none;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}

.unread-dot div {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--icon-secondary);
}

.unread .unread-dot {
  display: flex;
}

.unread .unread-dot div {
  background: var(--icon-accent);
}

letter-item .unread-dot {
  position: absolute;
  left: 6px;
}

letter-item > a:hover .unread-dot {
  display: flex;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

letter-item input[type="checkbox"] {
  all: unset;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--separator);
  display: none;
  position: relative;
}

letter-item input[type="checkbox"]:checked {
  background: var(--icon-accent);
}

letter-item input[type="checkbox"]:checked::after {
  content: url(/icons/check.svg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0px;
}

letter-item [name="bookmark_outline"] {
  display: none;
}

letter-item > a:hover input {
  display: block;
}
letter-item > a:hover [name="bookmark_outline"] {
  display: inline;
}

letter-item > a:hover user-avatar {
  display: none;
}

letter-item > a:hover [name="exclamation"] {
  display: none;
}

.unread .letter-item__sender,
.unread .letter-item__title {
  font-weight: 700;
}

.letter-item__sender {
  margin-left: 10px;
  width: 200px;
}

.letter-item__icons {
  width: 41px;
}

.letter-item__text {
  margin-left: 8px;
}

.letter-item__date {
  padding: 0 12px 0 16px;
}

.letter-item__content {
  flex-grow: 1;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #874dd6;
  background: #d3b3ff;
  border-radius: 100%;
}

@media only screen and (min-width: 769px) {
  nav {
    min-width: 200px;
  }

  .folder {
    width: unset;
    justify-content: unset;
    padding-left: 14px;
  }

  .folder svg {
    margin-right: 10px;
  }
}
