#btn-settings {
  position: fixed;
  display: flex;
  align-items: center;
  left: 30px;
  bottom: 22px;
  color: var(--sidebar-text-primary);
}

#btn-settings svg-icon {
  margin-right: 8px;
}

#btn-settings use {
  fill: var(--sidebar-text-primary);
}

#settings__drawer {
  position: fixed;
  display: flex;
  gap: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
  background: var(--background-modal);
  box-shadow: 0px -3px 48px rgb(0 16 61 / 28%);
  z-index: 1;
  transform: translateY(100%);
}

#settings__drawer.open {
  display: flex;
  transform: translateY(0%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#settings__buttons {
  padding: 20px 17px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#settings__buttons button {
  display: flex;
  align-items: center;
  width: 207px;
  height: 40px;
  padding-left: 16px;
  border-radius: 8px;
}

#settings__language {
  display: none;
}

#settings__language label {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 16px;
}

#settings__language label img {
  margin: 0 12px;
}

#settings__language,
#settings__theme {
  border-left: 1px solid var(--separator);
  flex-grow: 1;
  padding: 26px 32px 0;
}

#themes__colors {
  display: grid;
  grid-template-columns: repeat(8, 67.5px);
  grid-auto-rows: 40px;
  row-gap: 20px;
  column-gap: 16px;
}

#themes__main {
  display: flex;
  height: 88px;
  gap: 20px;
  margin-top: 20px;
}

#settings__theme input {
  all: unset;
  position: relative;
  cursor: pointer;
}

#themes__main input {
  display: block;
  width: 120px;
  height: 100%;
}

#settings__theme input[value="anime"] {
  background-image: -webkit-image-set(url(/anime-thumb.png) 1x, url(/anime-thumb2x.png) 2x);
}

#settings__theme input:checked:after {
  content: url(/icons/checkmark.svg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--separator);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#settings__theme label {
  position: relative;
  width: 120px;
}

#settings__theme label svg-icon {
  width: 96px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

label[for="dark"] {
  background: #000;
}

label[for="default"] {
  background: var(--white);
}

label[for="dark"] use {
  fill: var(--white);
}

#themes__main label[for="default"] use {
  fill: var(--icon-accent);
}

#themes__main input:checked:after {
  background-color: rgba(0, 95, 249, 0.48);
}

#btn-apply-language {
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding: 0 20px;
  height: 36px;
  color: var(--white);
  background: var(--icon-accent);
  border-radius: 8px;
}

#settings__language > div {
  margin-bottom: 20px;
}

#settings__btn-language img {
  margin-left: 8px;
}

#btn-apply-language:active {
  opacity: 0.7;
}

#language-form input[type="radio"] {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border);
  border-radius: 50%;
}

#language-form input[type="radio"]:checked {
  background: var(--icon-accent);
  border: 1px solid var(--border);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
}

#language-form input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--background-modal);
}

@media only screen and (max-width: 768px) {
  #settings__buttons button {
    width: 132px;
  }

  #themes__colors {
    display: grid;
    grid-template-columns: repeat(8, auto);
  }
}
