.dark {
  --background: #19191a;
  --background-modal: #303030;
  --background-header: #232324;
  --transparent-hover: rgba(255, 255, 255, 0.04);
  --transparent-active: rgba(255, 255, 255, 0.08);
  --separator: rgba(0, 0, 0, 0.4);
  --text-secondary: #8c8e94;
  --icon-accent: #3c82fd;
  --icon-secondary: #9c9da2;
  --icon-primary: #d9dadd;
  --text-primary: #e7e8ea;
  --sidebar-text-primary: #e7e8ea;
  --sidebar-text-active: #fff;
  --editor: #e7e8ea;
  --editor-dark: #e7e8ea;
  --editor-secondary: rgba(255, 255, 255, 0.07);
  --text-link: #589bff;
  --logo: #fff;
  --border: rgba(255, 255, 255, 0.16);
  --header-text: #fff;
}

.color-theme {
  --icon-primary: #fff;
  --logo: #fff;
  --header-text: #fff;
}

.color-theme-dark {
  --text-primary: #fff;
  --sidebar-text-primary: #fff;
  --sidebar-text-active: #fff;
  --transparent-active: rgba(255, 255, 255, 0.24);
}

.color-theme header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: inherit;
  filter: brightness(65%) saturate(150%);
  z-index: -1;
}

.anime {
  background: linear-gradient(180deg, rgba(117, 0, 69, 0.64) 0%, rgba(0, 9, 83, 0.64) 100%),
    url(/images/anime.png), #ffffff;
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  height: 100%;
}

.anime header {
  background: #6b1344;
}

.color-theme .not-found svg-icon {
  display: block;
}

.color-theme .not-found div {
  display: none;
}

.dark #language-form input[type="radio"]:checked {
  border-color: var(--icon-accent);
}

.dark .not-found div {
  background-image: -webkit-image-set(
    url(/images/notfound-dark.png) 1x,
    url(/images/notfound-dark2x.png) 2x
  );
}

.dark .letter__download {
  background: linear-gradient(0deg, rgba(44, 44, 45, 0.9) 45.32%, rgba(44, 44, 45, 0) 104.46%);
}

@media (min-width: 1441px), (min-height: 901px) {
  .anime {
    background-size: 1680px 1050px;
  }

  @media (min-width: 1681px), (min-height: 1051px) {
    .anime {
      background-size: 1920px 1200px;
    }
  }
}
